/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS Reset
*/
/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
/* prettier-ignore */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* from frontend mentor*/
.attribution {
  margin: 2.5rem auto;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* variables */
:root {
  /* primary colors */
  --sedan-color: hsl(31, 77%, 52%);
  --suv-color: hsl(184, 100%, 22%);
  --luxury-color: hsl(179, 100%, 13%);
  /* neutral colors */
  --white-transparent-75: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*10 px*/
}

body {
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
}

main {
  width: clamp(32.7rem, 87.2vw, 92rem);
}

ul {
  min-height: 50rem;
  max-height: 1326px;
  justify-content: flex-end;
  background-color: var(--sedan-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(33.3333%, (65.4rem - 100%) * 999, 100%), 1fr));
  border-radius: 0.8rem;
}

ul li {
  padding: 4.8rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px 35px 48px 25px minmax(125px, 1fr) 83px min-content;
}

.sedan,
.suv,
.luxury {
  border-radius: 0.8rem;
}

.sedan {
  background-color: var(--sedan-color);
}

.suv {
  background-color: var(--suv-color);
}

.luxury {
  background-color: var(--luxury-color);
}

/*TEXT */

h2 {
  grid-row: 3 / 4;
  font-family: "Big Shoulders Display", cursive;
  font-size: 4rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  color: var(--very-light-gray);
}

p {
  grid-row: 5 / 6;
  line-height: 2.5rem;
  max-width: 25ch;
  color: var(--white-transparent-75);
}

/* button */

button {
  grid-row: 7 / 8;
  font-size: 100%;
  font-family: inherit;
  width: 146px;
  height: 48px;
  background-color: inherit;
  color: var(--very-light-gray);
  border: 2px var(--very-light-gray) solid;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: var(--very-light-gray);
}

.sedan button:hover {
  color: var(--sedan-color);
}

.suv button:hover {
  color: var(--suv-color);
}

.luxury button:hover {
  color: var(--luxury-color);
}

@media only screen and (max-width: 46.9375em) {
  main {
    max-width: 32.7rem;
  }

  ul li {
    min-width: 327px;
    justify-self: center;
    grid-template-rows: 40px 35px 48px 25px minmax(125px, 1fr) 25px min-content;
    font-size: 1em;
  }
}
